body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2acfcf;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #1a9f9f;
  padding: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #2acfcf;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #1a9f9f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #169999;
}
